@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Nunito:200");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url("../media/backgroundimage.jpg");
  background-position: top; }

a {
  text-decoration: none; }

.adminNAV {
  width: 17%;
  height: 100vh;
  background: #2f2e2e;
  position: fixed; }
  .adminNAV h1 {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 27px;
    padding: 15px 0px 0px 20px; }
  .adminNAV .your-account {
    width: 100%;
    height: 40px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #505050;
    margin-top: 20px; }
    .adminNAV .your-account h2 {
      color: #fff;
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      padding-left: 20px; }
  .adminNAV .customers-link {
    width: 100%;
    height: 40px;
    padding: 1px 0px 1px;
    background: #33bdb3; }
    .adminNAV .customers-link img {
      margin: 20px; }
  .adminNAV .customers-link:hover {
    background: #33bdb3; }
  .adminNAV .invoices-link {
    width: 100%;
    height: 40px;
    padding: 1px 0px 1px; }
    .adminNAV .invoices-link img {
      margin: 20px; }
  .adminNAV .invoices-link:hover {
    background: #33bdb3; }
  .adminNAV div {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
  .adminNAV a {
    color: #fff; }

.component-content {
  margin-left: 17%; }

.component-header {
  width: 100%;
  height: 48px;
  color: #2f2e2e;
  font-size: 27px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  padding: 15px 0px 0px 20px;
  background: rgba(255, 255, 255, 0.5); }

form {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

input {
  width: 50%;
  height: 30px;
  font-size: 15px;
  background-color: transparent;
  border: 0px solid;
  border-bottom: 1px solid #2f2e2e;
  outline: none;
  margin-left: 10px; }

::placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #2f2e2e; }

.customer-cards {
  display: flex;
  flex-wrap: wrap; }

.add-button {
  width: 70px;
  height: 70px;
  background: #33bdb3;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 20px 20px 0px; }
  .add-button button {
    width: 100%;
    height: 70px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 70px;
    outline: none; }
    .add-button button img {
      padding-bottom: 15px; }

.add-button:hover {
  background: #2f2e2e; }

.customer-info a {
  color: #2f2e2e; }

.customer-info {
  width: 325px;
  height: 250px;
  border: 1.5px solid #2f2e2e;
  margin: 30px;
  background: rgba(255, 255, 255, 0.4); }

.fullname {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  padding: 20px; }

.phone {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0px 20px; }
  .phone span {
    padding-top: 5px; }

.email {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 20px 20px; }
  .email span {
    padding-top: 5px; }

.address {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 20px 20px; }
  .address span {
    padding-top: 5px; }

.customer-invoice-card {
  width: 400px;
  height: 275px;
  border: 1.5px solid #2f2e2e;
  margin: 30px;
  background: rgba(255, 255, 255, 0.4);
  display: flex; }

.invoice-card-image {
  width: 60%;
  overflow: hidden;
  position: relative;
  margin-left: 0.5px;
  margin-bottom: 0.5px; }

.customer-invoice-info {
  width: 40%;
  padding-top: 5px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  height: 275px;
  position: relative; }
  .customer-invoice-info .name {
    font-weight: bolder;
    padding-top: 30px;
    font-size: 20px; }
  .customer-invoice-info .furniture-type {
    font-weight: bolder;
    padding-top: 70px; }
  .customer-invoice-info .total {
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0; }
  .customer-invoice-info .customer-invoice-info a {
    color: #2f2e2e; }

.invoice-detail-content {
  display: flex;
  margin: 30px; }
  .invoice-detail-content .invoice-text {
    width: 80%;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    margin-left: 30px; }
    .invoice-detail-content .invoice-text .top-right {
      text-align: right;
      margin: 30px; }
      .invoice-detail-content .invoice-text .top-right .excel-address {
        font-family: "Playfair Display", serif;
        margin-bottom: 20px; }
  .invoice-detail-content .top-right-invoice {
    font-family: "Nunito", sans-serif; }
  .invoice-detail-content .left-content .invoice-header {
    width: 102.1%;
    height: 35px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #33bdb3;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    margin-left: -15px;
    margin-right: 15px; }
    .invoice-detail-content .left-content .invoice-header:before, .invoice-detail-content .left-content .invoice-header:after {
      content: "";
      position: absolute; }
    .invoice-detail-content .left-content .invoice-header:before {
      border-top: 1em solid #2f2e2e;
      bottom: -1em;
      border-left: 1em solid transparent;
      left: 0; }
    .invoice-detail-content .left-content .invoice-header:after {
      border-top: 0em solid #2f2e2e;
      bottom: 0em;
      border-right: 0em solid transparent;
      right: 0; }
    .invoice-detail-content .left-content .invoice-header .invoice-header-text {
      margin-left: 40px; }
  .invoice-detail-content .left-content .amount-label {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    line-height: 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px; }
  .invoice-detail-content .left-content .amounts {
    margin-right: 100px; }
  .invoice-detail-content .left-content .fabric-details {
    width: 200px;
    height: auto;
    font-family: "Nunito", sans-serif;
    margin-left: 70px; }
