@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url("../media/backgroundimage.jpg");
  background-position: top; }

a {
  text-decoration: none; }

.adminNAV {
  width: 17%;
  height: 100vh;
  background: #2f2e2e;
  position: fixed; }
  .adminNAV h1 {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 27px;
    padding: 15px 0px 0px 20px; }
  .adminNAV .your-account {
    width: 100%;
    height: 40px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #505050;
    margin-top: 20px; }
    .adminNAV .your-account h2 {
      color: #fff;
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      padding-left: 20px; }
  .adminNAV .customers-link {
    width: 100%;
    height: 40px;
    padding: 1px 0px 1px; }
    .adminNAV .customers-link img {
      margin: 20px; }
  .adminNAV .customers-link:hover {
    background-color: #33bdb3; }
  .adminNAV .invoices-link {
    width: 100%;
    height: 40px;
    padding: 1px 0px 1px; }
    .adminNAV .invoices-link img {
      margin: 20px; }
  .adminNAV .invoices-link:hover {
    background: #33bdb3; }
  .adminNAV .signout-link {
    width: 96%;
    height: 40px;
    padding: 1px 0px 1px 10px; }
  .adminNAV .signout-link:hover {
    background: #33bdb3; }
  .adminNAV div {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
  .adminNAV a {
    color: #fff; }
  .adminNAV a:active {
    background-color: #33bdb3; }

.component-content {
  margin-left: 17%; }

.component-header {
  width: 100%;
  height: 48px;
  color: #2f2e2e;
  font-size: 27px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  padding: 15px 0px 0px 20px;
  background: rgba(255, 255, 255, 0.5); }

form {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

input {
  width: 50%;
  height: 30px;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  margin-left: 10px; }

.search-border {
  border-bottom: 1px solid #2f2e2e; }

::placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #2f2e2e; }

.customer-cards {
  display: flex;
  flex-wrap: wrap; }

.add-button {
  width: 70px;
  height: 70px;
  background: #33bdb3;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 20px 20px 0px;
  transition: ease-in-out 0.3s; }
  .add-button button {
    width: 100%;
    height: 70px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 70px;
    outline: none; }
    .add-button button img {
      padding-bottom: 15px; }

.add-button:hover {
  background: #2f2e2e; }

.customer-info a {
  color: #2f2e2e; }

.customer-info {
  width: 325px;
  height: 250px;
  border: 1.5px solid #2f2e2e;
  margin: 30px;
  background: rgba(255, 255, 255, 0.4); }

.fullname {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  padding: 20px; }

.phone {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 0px 20px; }
  .phone span {
    padding-top: 5px; }

.email {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 20px 20px; }
  .email span {
    padding-top: 5px; }

.address {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 20px 20px; }
  .address span {
    padding-top: 5px; }

.customer-invoice-card {
  width: 400px;
  height: 275px;
  border: 1.5px solid #2f2e2e;
  margin: 30px;
  background: rgba(255, 255, 255, 0.4);
  display: flex; }

.paid-tag {
  position: absolute;
  z-index: 999999;
  margin-top: 15px;
  background: #33bdb3;
  color: #2f2e2e;
  padding: 5px;
  width: 70px;
  margin-left: -15px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase; }

.invoice-card-image {
  width: 60%;
  overflow: hidden;
  position: relative;
  margin-left: 0.5px;
  margin-bottom: 0.5px; }

.customer-invoice-info {
  width: 40%;
  padding-top: 5px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  height: 275px;
  position: relative; }
  .customer-invoice-info .name {
    font-weight: 700;
    padding-top: 30px;
    font-size: 20px; }
  .customer-invoice-info .furniture-type {
    font-weight: 700;
    padding-top: 70px; }
  .customer-invoice-info .total {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0; }
  .customer-invoice-info .customer-invoice-info a {
    color: #2f2e2e; }

.customer-invoice-link a {
  color: #2f2e2e; }

.invoice-detail-content {
  display: flex;
  margin: 30px; }
  .invoice-detail-content .invoice-text {
    width: 80%;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    margin-left: 30px; }
    .invoice-detail-content .invoice-text .top-right {
      text-align: right;
      margin: 30px; }
      .invoice-detail-content .invoice-text .top-right .excel-address {
        font-family: "Playfair Display", serif;
        margin-bottom: 20px; }
  .invoice-detail-content .top-right-invoice {
    font-family: "Nunito", sans-serif;
    font-weight: 200; }
    .invoice-detail-content .top-right-invoice .top-invoice-date {
      display: flex;
      justify-content: flex-end; }
  .invoice-detail-content .left-content .invoice-header {
    width: 102.1%;
    height: 35px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #33bdb3;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    margin-left: -15px;
    margin-right: 15px; }
    .invoice-detail-content .left-content .invoice-header:before, .invoice-detail-content .left-content .invoice-header:after {
      content: "";
      position: absolute; }
    .invoice-detail-content .left-content .invoice-header:before {
      border-top: 1em solid #2f2e2e;
      bottom: -1em;
      border-left: 1em solid transparent;
      left: 0; }
    .invoice-detail-content .left-content .invoice-header:after {
      border-top: 0em solid #2f2e2e;
      bottom: 0em;
      border-right: 0em solid transparent;
      right: 0; }
    .invoice-detail-content .left-content .invoice-header .invoice-header-text {
      margin-left: 100px; }
  .invoice-detail-content .left-content .amount-label {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    line-height: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px; }
  .invoice-detail-content .left-content .amounts {
    margin-right: 40px; }
  .invoice-detail-content .left-content .fabric-details {
    width: 200px;
    height: auto;
    line-height: 20px;
    font-family: "Nunito", sans-serif;
    margin-left: 130px; }
  .invoice-detail-content .amount-due {
    text-align: right;
    margin: 10px 0px 10px 0;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700; }
  .invoice-detail-content .button-container {
    text-align: right;
    margin: 20px 30px 20px 0; }
    .invoice-detail-content .button-container .payment-button {
      background: #33bdb3;
      border: none;
      color: #fff;
      padding: 10px;
      font-size: 13px;
      text-transform: uppercase;
      outline: none;
      transition: ease-in-out 0.3s; }
    .invoice-detail-content .button-container .payment-button:hover {
      background: #2f2e2e; }
  .invoice-detail-content .custom-button {
    background: #33bdb3; }

.new-invoice-content {
  margin-left: 50px;
  margin-top: 30px;
  width: 100%; }

.label {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px; }

.bold-label {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.inline-inputs {
  display: flex;
  border-bottom: 1px solid #2f2e2e;
  width: 300px;
  height: auto; }

.bottom-line {
  width: 150px;
  height: auto; }

.date-font {
  font-family: "Nunito", sans-serif; }

.type-quantity {
  display: flex;
  margin-top: 25px; }

.quantity-select {
  margin-left: 50px; }

.select-dropdown {
  height: 29px; }
  .select-dropdown select {
    border: 1px solid #2f2e2e;
    background: transparent;
    width: 115px;
    padding-left: 10px;
    font-size: 13px;
    font-family: "Nunito", sans-serif;
    border-radius: 0;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin-top: 10px; }

.type-line {
  width: 300px;
  margin-top: 23px;
  margin-left: 50px;
  border-bottom: 1px solid #2f2e2e; }

.invoice-fabric-container {
  display: flex;
  margin-top: 20px; }
  .invoice-fabric-container .invoice-money-container {
    margin-top: 10px; }
  .invoice-fabric-container .fabric-container {
    margin-left: 80px;
    line-height: 26px; }
    .invoice-fabric-container .fabric-container .fabric-label {
      margin-left: 10px; }

.create-invoice-input {
  border-bottom: 1px solid #2f2e2e;
  margin-top: 5px; }

.notes-label {
  margin-top: 30px;
  margin-bottom: 10px; }

.notes-container {
  border: 1px solid #2f2e2e;
  width: 64%;
  height: 150px;
  background: transparent;
  outline: none;
  font-size: 16px;
  font-family: "Nunito", sans-serif; }

.save-button {
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  background: transparent;
  margin-top: 10px;
  border: 1px solid #2f2e2e;
  color: #2f2e2e;
  padding: 5px;
  outline: none;
  transition: ease-in-out 0.3s; }

.save-button:hover {
  background: #2f2e2e;
  color: #fff;
  border: none; }

.new-customer-content {
  margin-left: 50px;
  margin-top: 30px; }

.input-border {
  width: 35%;
  height: auto;
  border-bottom: 1px solid #2f2e2e;
  margin-right: 20px; }

.create-labels {
  margin-bottom: 20px;
  margin-left: 10px; }

.first-last-name {
  display: flex;
  margin-bottom: 40px; }

.email-phone {
  display: flex;
  margin-bottom: 60px; }

.street-city {
  display: flex;
  margin-bottom: 40px; }

.state-zip {
  display: flex;
  margin-bottom: 30px; }

.create-save {
  margin-left: 10px; }

.signin-background {
  width: 100%;
  height: 100vh;
  background: url("../media/signinbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.signin-container {
  width: 500px;
  height: 170px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff; }

.signin-header {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: #fff;
  margin: 15px 0 0 40px; }

.signin-subhead {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  margin-top: 4px;
  margin-left: 40px; }

.signin-button {
  width: 110px;
  height: 32px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  margin: 30px 20px;
  outline: none; }

.signin-button:hover {
  background: #33bdb3; }
