// css you use throughout the whole app

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
$playfair: 'Playfair Display', serif;

@import url('https://fonts.googleapis.com/css?family=Nunito:200');
$nunito: 'Nunito', sans-serif;

$darkgray: #2f2e2e;
$teal: #33bdb3;

